{% extends 'base.html.twig' %}

{% block title %}Le vide-appart de {{ appart.user.firstname }} à {{ appart.city }} | izidore {% endblock %}

{% block body %}
	<div class="media vide-appt" style="background-image: url('{{asset(appart.picture)}}');">
		<div class="media-body">
			<h1 class="ps-5 pt-5 text-uppercase text-white fw-bold" style="font-size:1.75rem">
				Bienvenue chez {{ appart.user.firstname }}
			</h1>
		</div>
	</div>

	<div class="row">
		<div class="col-3">
			{% include 'components/_card_info_user.html.twig' %}
		</div>

		<div class="col-9">
			<div class="row">
        		{% for product in products %}
					<div class="col-12 col-md-6 col-lg-4">
          				{% include 'components/_card_product.html.twig' %}
					</div>
        		{% else %}
          			{{ appart.user.name }} n'a rien à vendre pour le moment.
				{% endfor %}
      		</div>
		</div>
	</div>
{% endblock %}


