<div class="home-presentation order-1 shadow mb-5 rounded">
	<div class="p-3 d-flex justify-content-center align-items-center rounded">
		<div>
			<i class="fas fa-map-marker-alt fa-2x mx-2"></i>
		</div>
		<div>
			<p class="m-0 location fw-bold">
				{{ appart.city }}, {{ appart.zipcode }}
			</p>
		</div>
	</div>

	<div class="p-3 bg-body">
		<div class="announce-info-side">
			<div class="d-flex flex-row align-items-center user-infos">
				<div class="card-user-picture-announce">
					<img class="profile-picture" src="{{appart.user.profilePicture}}" alt="photo de profil">
				</div>

				<div class="flex-fill card-infos pl-2">
					<div class="info-container">
						<div class="seller-name text-primary fs-3 ms-3 fw-bold">
						{{ appart.user.firstname }}
						</div>
					</div>
				</div>

				{% if reviews %}
					<div class="text-end">
						<a href="#" data-bs-toggle="modal" data-bs-target="#reviews-modal">
							{% if nbReviews == 1 %}
								Voir l'avis
							{% else %}
								Voir les {{ nbReviews }} avis
							{% endif %}
						</a>

						<p class="m-0">{{ rateAverage|number_format(1) }} ⭐</p>

						{% include 'components/_reviews_modal.html.twig' with { reviews: reviews } %}
					</div>
				{% endif %}
			</div>

			<div>
				{% if appart.objectDown == true %}
					<p class="fw-bold">Meubles descendus</p>

					<div class="d-flex align-items-center mb-3 mt-1">
						<i class="fa fa-arrow-down fa-2x me-3 text-primary"></i>
						<p class="m-0  pl-2 font2 text-s"style="font-size:.75rem;">
							Emma s'engage à descendre ses meubles au rez-de-chaussée !
						</p>
					</div>
				{% endif %}
			</div>

			<div>
				<p class="fw-bold">Préférences de retrait</p>

				<div class="d-flex align-items-center mb-3 mt-1">
					<i class="fa fa-calendar fa-2x me-3 text-primary"></i>

					<div>
						<p class="m-0 pl-2 d-flex justify-content-start align-items-center flex-wrap">
							<span class="mr-1 font2 text-s">Semaine :&nbsp;</span>
							<span class="fw-bold text-s">de 08h à 20h</span>
						</p>

						<p class="m-0 d-flex justify-content-start align-items-center flex-wrap">
							<span class="text-s mr-1 font2">Week-end :&nbsp;</span>
							<span class="fw-bold text-s"> de 08h à 20h</span>
						</p>
					</div>
				</div>
			</div>

			<div class="accordion" id="accordionExample">
				<div class="accordion-item">
					<h2 class="accordion-header" id="headingFour">
						<button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
							Description
						</button>
					</h2>

					<div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour" data-bs-parent="#accordionExample">
						<div class="accordion-body">
							<p class="font2 fs-5">
								⚠️{{ appart.description }}
							</p>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="text-center">
			<button type="button" class="btn btn-primary mt-4 text-white fw-bold">
				ENTRER EN CONTACT
			</button>
		</div>

		<div class="announce-map-side mt-4">
			<div class="embeded-map d-flex justify-content-around" data-mode="view">
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2887.3825298359166!2d1.4435736151905305!3d43.64020906128919!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12aea3f76fd6fce1%3A0x861987bbcd6d1a56!2sizidore!5e0!3m2!1sfr!2sfr!4v1623538406094!5m2!1sfr!2sfr" width="" height="300" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
			</div>
		</div>
	</div>
</div>